@import "variables";

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  align-items: center;
  background-color: $tangaroa;
  display: flex;
  height: 160px;
  justify-content: space-between;
  padding: 0 20px;

  &__logo {
    height: 40px;
    margin: 0.5rem;
  }

  &__nav {
    display: flex;
  }

  .nav__option {
    @include heading-text;
    color: $amber;
    margin: 0.5rem;
    text-decoration: none;
  }
}

.footer {
  background: $tangaroa;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 160px;

  &__social-media {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-column: 1 / 2;
    justify-content: center;
  }

  .social-media__title {
    @include heading-text;
    color: $white;
    margin-bottom: 0.5rem;
  }

  .social-media__item {
    color: $white;
    margin: 0.5rem;
  }

  &__legal-advice {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    justify-content: center;
  }

  .legal-advice__item {
    @include heading-text;
    color: $white;
    margin: 0.5rem;
    text-decoration: none;
  }

  &__about {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-column: 3 / 4;
    justify-content: center;
  }

  .about__title {
    @include heading-text;
    color: $white;
    margin-bottom: 0.5rem;
  }

  .about__logo {
    height: 40px;
  }
}
