@import "variables";

.main {
  padding: 3rem;
  background-color: $white;
  display: grid;
  grid-template: auto / repeat(3, 1fr);
  gap: 24px;
}

.property {
  background-color: $mercury;
  color: $blue-charcoal;
  display: grid;
  grid-template: auto / 1fr 1fr;
  border: none;
  border-radius: 0;
  box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.5);
}

.property__text {
  text-align: start;

  h4,
  p {
    text-transform: capitalize;
    line-height: 1.2;
  }
}

.property__image img {
  width: 100%;
}

.property__text {
  padding: 20px;
}
