$white: #ffffff;
$white-2: #f3f3f3;
$grey-1: #bebebe;
$grey-2: #707070;
$grey-3: #444444;
$purple: #8b7ad5;
$purple-1: #67679b;
$purple-2: #726a95;
$purple-3: #7c6ebb;
$purple-4: #63569e;
$cyan: #74d1d6;
$cyan-2: #8dd3d6;
